@font-face {
  font-family: "Overused Grotesk Medium";
  src: url("../../public/assets/fonts/OverusedGrotesk-Medium.ttf");
}
@font-face {
  font-family: "Geist Medium";
  src: url("../../public/assets/fonts/Geist-Medium.otf");
}
@font-face {
  font-family: "Geist Semi";
  src: url("../../public/assets/fonts/Geist-SemiBold.otf");
}
