.wrapper {
  min-height: 100vh;
  padding-top: var(--size1);
  grid-template-rows: var(--size1) 1fr;
  align-items: start;

  .title {
    grid-column: 2 / 8;
    font-size: var(--size1);
    font-family: var(--font-bold);
    text-transform: uppercase;
    letter-spacing: -0.5rem;
    line-height: 0.75;
    overflow: hidden;
    vertical-align: baseline;
  }
  .subtitle {
    grid-column: 9 / 12;
    text-align: end;
    font-size: var(--size4);
  }
  .scroller {
    grid-column: 11 / 12;
    // bottom: 0;
    // position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    display: none;
  }

  .image {
    position: relative;
    grid-column: 1 / -1;
    aspect-ratio: 6/3;
  }
}
